h1 {
    color: brown

}

body {
    background-color: rgb(216, 212, 231);

}

#fantasy { 
    font-family: cursive; font-size: 87.5%; margin-block-start ;
    grid contain: 20px;

}

#Addis { 
    

}
